header h1{
    padding: auto;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

header h4{
	position: absolute;
	top: 10px;
	left: 10px;
	margin: 0;
}

#category{
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
}

#categories{
	position: absolute;
	bottom: 0px;
	display: flex;
	justify-content: space-around;
	width: 30%;
	z-index: 1;
}

#reviews{
	display: flex;
	flex-direction: column;
	justify-content: center;
    text-align: center;
}

footer{
	position: absolute;
	text-align: center;
	bottom: 1em;
	width: 99vw;
}