<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reviews with AJAX</title>
	<link th:href="reviewstyle.css" rel="stylesheet" >
</head>
<body th:background = "review.jpg">
	<div class="container">
		<header>
			<h1>List of All Reviews</h1>
		</header>
	</div>
    
    <footer>
        <a href="http://localhost:8080/showCategories">Sort by Tags</a>
    </footer>
    <script src="./js/Ajax.js"></script>
</body>
</html>