<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Reviews</title>
	<link th:href="style.css" rel="stylesheet" >
</head>
<body th:background = "review.jpg">
    <header>
        <h1>A list of all Reviews</h1>
    </header>
	<article id="reviews">
	<div th:each="review: ${reviews}">
        <h3>
            <a th:href="@{/review(id=${review.id})}" th:text="${review.title}"></a>
        </h3>
    </div>
    </article>
    <footer>
        <a href="http://localhost:8080/showCategories">Sort by Categories</a>
    </footer>
</body>
</html>